<html>
<head>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="/text/html; charset=utf-8">
    <title>Резюме =)</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'polls/images/knife.ico' %}" />

	<script type="text/javascript" src="{% static 'polls/js/jquery-1.11.0.js' %}" ></script>
	<script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'polls/js/bootstrap.js' %}"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-theme.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/variables.less' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootswatch.less' %}" />
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h2>Резюме ☺</h2>
	</div>

{% if result_message %}<p class="lead"><strong>{{ result_message }} </strong></p>{% endif %}
<ul>
{% for key,value in detail_message.items  %}
 <li>{{value}}</li>
{% endfor %}
</ul>
<a href="{% url 'polls:index' %}">Пройти тест еще раз?</a>
</div>
</body>
</html>
