 li  { 
    color: ;
}
.centred {
  margin: 0 auto;
  text-align: center;
}
/*
label{
	color: ;
}
*/
/*.lead {
    background: white url("images/background.gif") no-repeat;
}

body {
 background: url(images/16.JPG) no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
 */