<html>
<head>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="/text/html; charset=utf-8">
    <title>Узнай что ты пил =)</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'polls/images/knife.ico' %}" />

	<script type="text/javascript" src="{% static 'polls/js/jquery-1.11.0.js' %}" ></script>
	<script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'polls/js/bootstrap.js' %}"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-theme.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/variables.less' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/bootswatch.less' %}" />
</head>
<body>
<div class="container">
	<div class="jumbotron">
			<h2>Привет Друг! Эта страничка поможет тебе в трудный момент! ☺</h2>
	</div>
	<div class="page-header lead">
         <div class="row">
          <div class="col-lg-12">
            <div class="bs-example">
              <p class="lead">Если тебе стало интересно, сколько ты выпил только что - пройди этот тест </p>
            </div>
          </div>
         </div>
	</div>
	<div class="page-header">
	<!--
	{% if latest_poll_list %}
		<ul>
		{% for poll in latest_poll_list %}
			{% if poll.id == 2 %}
				<li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
			{% endif %}	
		{% endfor %}
		</ul>
	{% else %}
		<p>No polls are available.</p>
	{% endif %}
	--> <form name="q1" method="post" action="">
			<p class="text-info">Твой пол<br></p>
			<input type="radio" name="sex" value="M"/>Мужской <Br>
			<input type="radio" name="sex" value="W"/>Женский<Br>
			
			<!-- <input type="submit" class="btn btn-primary" value="Голосовать" /> -->
		</form>
		<form name="q2" method="post" action="">
			<p class="text-info">Твой вес (кг)<br></p>
			<input type="radio" name="ves" value="4055"/>от 40 до 55  <Br>
			<input type="radio" name="ves" value="5670"/>от 56 до 70 <Br>
			<input type="radio" name="ves" value="7185"/>от 71 до 85 <Br>
			<input type="radio" name="ves" value="86100"/>от 86 до 100 <Br>
			<input type="radio" name="ves" value="100"/>больше 100 <Br>
			<!-- <input type="submit" class="btn btn-primary" value="Голосовать" /> -->
		</form>
		<form name="q3" method="post" action="">
			<p class="text-info">Сколько треугольников изображено на картинке?<br></p>
			<img src="{% static 'polls/images/triangle.jpg' %}" class="img-polaroid"><br>
			<input type="radio" name="rect" value="5"/>5  <Br>
			<input type="radio" name="rect" value="7"/>7 <Br>
			<input type="radio" name="rect" value="4"/>4 <Br>
			<input type="radio" name="rect" value="2"/>2 <Br>
			
			<!-- <input type="submit" class="btn btn-primary" value="Голосовать" /> -->
		</form>
		<form name="q4" method="post" action="">
			<p class="text-info">Как начинается песня про голубой вагон?<br></p>
			<input type="radio" name="vagon" value="skatert"/>Скатертью скатертью дальний путь стелится  <Br>
			<input type="radio" name="vagon" value="golub"/>Голубой вагон бежит качается <Br>
			<input type="radio" name="vagon" value="medlenno"/>Медленно минуты уплывают вдаль <Br>
			<input type="radio" name="vagon" value="katitsa"/>Катится катится голубой вагон <Br>
			
			<!-- <input type="submit" class="btn btn-primary" value="Голосовать" /> -->
		</form>
		<form name="q5" method="post" action="">
			<p class="text-info">Какая столица у Швеции<br></p>
			<input type="radio" name="gorod" value="oslo"/>Осло <Br>
			<input type="radio" name="gorod" value="stockgolm"/>Стокгольм <Br>
			<input type="radio" name="gorod" value="kopengagen"/>Копенгаген <Br>
			<input type="radio" name="gorod" value="estersund"/>Эстерсунд <Br>
			
			<!-- <input type="submit" class="btn btn-primary" value="Голосовать" /> -->
		</form>
		<form name="q6" method="post" action="">
			<p class="text-info">Где на картинке находится север?<br></p>
			<img src="{% static 'polls/images/russia.jpg' %}" class="img-polaroid"><br>
			<input type="radio" name="sever" value="left"/>слева  <Br>
			<input type="radio" name="sever" value="right"/>справа <Br>
			<input type="radio" name="sever" value="up"/>сверху <Br>
			<input type="radio" name="sever" value="down"/>снизу <Br>
			
			<!-- <input type="submit" class="btn btn-primary" value="Голосовать" /> -->
		</form>
		<form name="q7" method="post" action="">
			<p class="text-info">Сколько времени в Петропавловске-Камчатском когда в Москве полдень?<br></p>
			<input type="radio" name="polden" value="polnoch"/>Полночь <Br>
			<input type="radio" name="polden" value="polden"/>Полдень <Br>
			<input type="radio" name="polden" value="devat"/>Три часа до полуночи <Br>
			<input type="radio" name="polden" value="tri"/>Без четверти три <Br>
			
			<input type="submit" class="btn btn-primary" value="Узнать" />
		</form>
	</div>
	<!--
{% if latest_poll_list %}
    <ol>
    {% for poll in latest_poll_list %}
		{% if poll.id == 1 %}
			<li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
		{% endif %}	
    {% endfor %}
    </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}
	-->
</div>
</body>
</html>