<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Commits</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "blog/css/bootstrap.min.css" %}" rel="stylesheet">
       <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

{% if commit|length == 0 %}
    <h1>Nothing here yet</h1>
{% else %}
    {% for commit in commits %}
    <div class="jumbotron">
        <h1>{{ commit.project.name }}[{{ commit.revision }}] by {{ commit.user.name }}</h1>
        <p>{{ commit.commitDate }}</p>
    </div>
    {% endfor %}
{% endif %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static "blog/js/bootstrap.min.js" %}"></script>
</body>
</html>